:root {
    --primary: #8ecae6;
    --secondary: #219ebc;
    --accent: #023047;
    --background: #f9f7f8;
    --text: #0f0c0c;
}

nav ul {
    /* display: none; */
    list-style: none;
}
#hero-text {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    z-index: 2;
}
#hero-text h1 {
    z-index: 3;
    margin-bottom: 1rem;
}
#hero-text p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 3;
}
#social-media ul, #resources ul, #contact-info ul {
    margin: 0;
    padding: 0;
}
#social-media ul li, #resources ul li, #contact-info ul li {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}
#copy {
    text-align: center;
    padding: 1rem;
    margin: 0;
}
#form-submit {
    border: none;
    background-color: var(--accent);
    color: var(--background);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
#nav-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #hide-navbar {
    position: absolute;
    top: 20px;
    left: -40px;
    width: 40px;
    height: 40px;
    color: var(--text);
    background-color: var(--background);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 1rem 0 0 1rem;
  }
  #slide-out-panel {
    position: fixed;
    top: 0;
    right: -40%;
    width: 40%;
    height: 100%;
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    z-index: 4;
  }
  #slide-out-panel.active {
    right: 0;
    background-color: var(--background);
    color: var(--text);
  }
  #drinks-ordered {
    color: var(--accent);
    font-weight: 700;
    font-size: 6rem;
  }
  #confirmation {
    margin: 2rem;
  }
  .hr {
    border: none;
    border-bottom: 1px solid var(--accent);
  }
  .order-button {
    border: none;
    background-color: var(--accent);
    color: var(--background);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  
  }
.logo {
    color: var(--background);
    text-decoration: none;
}
.main-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin: 0;
}
.card {  
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 0;
    text-align: center;
}
.order-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.order-form input{
    display: block;
    text-align: left;
    background-color: var(--background);
    border: none;
    border-bottom: 1px solid var(--accent);
    margin: 0.5rem 0;
}
.order-form label {
    margin: 0.5rem 0;
}
.order-form select {
    display: block;
    text-align: left;
    background-color: var(--background);
    border: none;
    border-bottom: 1px solid var(--accent);
    margin: 0.5rem 0;
}
.order-form textarea {
    display: block;
    text-align: left;
    background-color: var(--background);
    border: none;
    border-bottom: 1px solid var(--accent);
    margin: 0.5rem 0;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin: 0;
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.gallery .map {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.about {
    padding: 1rem;
    
}
a {
    color: var(--accent);
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    width: 100%;
}

header {
    position: relative;
    background-image: url('../images/hero.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    z-index: 1;
    color: var(--background);
}
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    background-image: url('../images/overlay.webp');
    background-repeat: repeat;
    /* opacity: 0.5;  */
    z-index: 2;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0;
    margin: 2rem 10%;
    text-align: center;
    border-bottom: var(--background) 1px solid;

}
nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 3;
}
nav ul li {
    margin: 1rem;
}
nav ul li a {
    text-decoration: none;
    color: var(--text);
}
footer {
    background-color: var(--accent);
    color: var(--background);
    text-align: center;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;

}
footer p {
    margin: 0;
    padding: 0;
}
footer a {
    color: var(--background);
}

