@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
    
    }
    #principleOne {
        grid-column: 1 / 2;
    }
    #principleTwo {
        grid-column: 2 / 3;
    }
    #principleThree {
        grid-column: 1 / 3;
    }
}