@media screen and (min-width: 1024px) {
    main {
        grid-template-columns: auto 20%;
        grid-template-rows: auto auto auto auto;
    }
    .gallery, #hero {
        grid-column: 1/2;
        grid-row: 1/4;
    }
    #call-to-action {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #current-events {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #wether {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #spotlights {
        grid-column: 1/3;
        grid-row: 4/5;
        display: flex;
        justify-content: space-between;
    }
    #hero h2 {
        font-size: 4rem;
    }
    #hero p {
        font-size: 3rem;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}