@media screen and (min-width: 1200px) {
    #main-page {
        grid-template-columns: auto 20%;
        grid-template-rows: auto auto auto auto;
    }
    .gallery, #hero {
        grid-column: 1/2;
        grid-row: 1/4;
    }
    #days-since-visit, #call-to-action {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #news, #current-events {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #chamber-history, #wether {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #spotlights {
        grid-column: 1/3;
        grid-row: 4/5;
        display: flex;
        justify-content: space-between;
    }
    #hero h2 {
        font-size: 4rem;
    }
    #hero p {
        font-size: 3rem;
    }
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #join {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
    #join-form {
        margin: 0;
        margin-left: auto;
        grid-column: 1/2;
        text-align: left;
        padding-right: 2rem;
        border-right: #25262b solid 1px;
    }
    #membership-info {
        grid-column: 2/3;
        padding-left: 2rem;
        border-left: #25262b solid 1px;
        margin-right: auto;
    }
}