@media screen and (min-width: 768px) {
    #menu {
        display: none;
    }
    nav ul {
        flex-direction: row;
        justify-content: center;
    }
    nav {
        display: block;
        margin: 0;
    }
    nav ul li {
        width: auto;
        margin: 0 1rem;
    }
    #main-page {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
    }
    .gallery, #hero {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    #days-since-visit, #call-to-action {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #news, #current-events {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #chamber-history, #wether {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #spotlights {
        grid-column: 1/3;
        grid-row: 4/5;
        display: flex;
        justify-content: space-between;
    }
    #directory-buttons {
        text-align: right;
    }
    .cards-grid .card {
        flex: 0 0 25%;
        margin-bottom: 20px; 
    }
    nav ul li a {
    color: #000;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 20px 0;
    text-decoration: none;
    margin: 0;
    border: #000 solid 1px;
    }
    .dark-mode-nav {
        background-color: #26534C;
    }
    .dark-mode-nav:hover {
        background-color: #91B3A6;
    }
    nav ul li a:hover { 
        background-color: #AF9567;
    }
    h2 {
        font-size: 2rem;
    }
    #dark-mode-button {
        height: 100%;
        background: none;
        border: none;
    }
    #hero h2 {
        font-size: 3rem;
    }
    #hero p {
        font-size: 2rem;
    }
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .photo img:hover {
        opacity:  0.8;
        transition: opacity  0.3s ease-in-out;
    }
}