/* Colors:
https://coolors.co/dad7cd-a3b18a-588157-3a5a40-344e41-000000
*/

main {
	max-width: 670px;
	margin: 0 auto;
}
#map {
    border: 0;
}

.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
    width: 100%;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Great Vibes", serif;
}


#infoCard {
    text-align: center;
}
#map {
    grid-column: 1/2;
    width: 100%;
}
.card {
    border-radius: 0.5rem;
    border: 1px solid #000000;
}
body {
    background-color: #DAD7CD;
    margin: 0;
}
h2 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #000000;

}
h3 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #DAD7CD;
    font-size: 1.5em;
    margin: 0;
    background-color: #344E41;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
}
header {
    background-color: #DAD7CD;
    color: #000000;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
header img {
    margin: 1rem;
    padding: 0;
    max-width: 6rem;
}
header h1 {
    margin: 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style-type: none;
}
.navigation {
    display: none;
}
.active {
    display: flex;
    flex-direction: column;
}
nav ul li a {
    display: block;
}
nav ul li a {
    display: block;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "❌";
}
#menu {
    padding: 10px 15px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
nav ul li {
    padding: 1rem;
}
nav ul li a {
    text-decoration: none;
    color: #DAD7CD;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
}
nav ul li:hover {
    background-color: #3A5A40;
    
}
nav {
    background-color: #344E41;
    text-align: center;
    width: 100%;
}
main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin-bottom: 1rem;
}
footer {
    background-color: #344E41;
    color: #DAD7CD;
    text-align: center;
    padding: 1rem;
    width: 100%;
}